---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { formatDate } from "../utils";
import { SITE_LANG} from "../consts";
const { frontmatter } = Astro.props;
const type = frontmatter.tags[0];
const { pubDate, title, description, featured, hasPassword: postHasPassword } = frontmatter;
const dateFormated = formatDate(pubDate);
const hasPassword = postHasPassword || false;
---

<html lang={SITE_LANG} dir="ltr" class="js no-touch progressive-image no-reduced-motion progressive">
  <head>
    <meta name="code" content={process.env.CODE} />
    <script>
      const code = document.querySelector('meta[name="code"]').getAttribute('content');
      console.log(code);
			while({hasPassword}) {
				var password = "";
				password = prompt('请输入密码 (本网站需输入密码才可进入):', '');
				if(password != code) {
					alert("密码不正确,无法进入本站!!");
				} else {
					break;
				}
			}
		</script>
    <BaseHead frontmatter={frontmatter}/>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ['\\(','\\)'] ],
          displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
          processEscapes: true
        }
      });
    </script>
    
    
  </head>
  <body class:list={["page-article", { "theme-dark": frontmatter.theme === "dark" }]}>
    <Header />
    <main id="main" class="main">
      <section>
        <article class="article">
          <div class:list={[{ "featured-header": featured, "article-header": !featured }]}>
            <div class="category component">
              <div class="component-content">
                <div class="category-eyebrow">
                  <span class="category-eyebrow__category category_original">{type}</span>
                  <span class="category-eyebrow__date">{dateFormated}</span>
                </div>
              </div>
            </div>
            <div class="pagetitle component">
              <div class="component-content">
                <h1 class="hero-headline">{title}</h1>
              </div>
            </div>
            <div class:list={[{ "featured-subhead": featured, "article-subhead": !featured }, "component"]}>
              <div class="component-content">{description}</div>
            </div>

            <div class:list={["tagssheet component"]}>
              <div class="component-content">
                {
                  frontmatter.tags.map((tag) => {
                    return (
                      <a href={`/tags/${tag}`} class="tag">
                        {tag}
                      </a>
                    );
                  })
                }
              </div>
            </div>
          </div>
          <slot />
          <div class="component">
            <div class="component-content">
              <div class="article-copyright">
                <a class="content" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank"
                  >版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</a
                >
                <p class="content">作者： {frontmatter.author} 发表日期：{dateFormated}</p>
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
    <Footer />
    <script is:inline>
      var script = document.createElement("script");
      script.src = "/static/js/initPost.js";
      document.head.appendChild(script);
    </script>
  </body>
</html>
